---
title: Apps
---
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <% chekky_app = get_app_with_identifier("be.bartverhavert.chekky") %>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading"><%= link_to chekky_app[:title], chekky_app.path %></h2>
                <p class="lead"><%= get_app_description(chekky_app) %></p>
                <div>
                    <a href="<%= chekky_app[:app_store_url] %>">
                        <img height="40" src="/images/app_store_download_button.svg" />
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="<%= chekky_app[:screenshot_source] %>" alt="">
            </div>
        </div>
    </div>
</div>
