<% render '/default.*' do %>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading blog-post"><%= item[:title] %></h2>
                <aside class="blog-post-date">Posted at <%= get_pretty_date(item) %></aside>
                <article>
                    <%= yield %>
                </article>
            </div>
        </div>
    </div>
</div>
<% end %>
