---
title: Chekky
kind: app
app_identifier: be.bartverhavert.chekky
app_store_url: https://itunes.apple.com/app/chekky-automate-your-check/id1045769116?mt=8
screenshot_source: /images/chekky-iphone6-manage-venues.png
---
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Chekky</h2>
                <p>
                    <!-- description_start -->
                    Chekky will automatically check you in on Swarm / Foursquare at the places of
                    your choice. Never forget to check in, because Chekky will take care of that
                    for you! By the way, Chekky is very battery friendly!
                    <!-- description_end -->
                </p>
                <p>
                    With Chekky, you can:

                    <ul>
                        <li>define how close you have to be to the place you want to be checked in</li>
                        <li>choose whether you want to be checked in when visiting the place or just passing through</li>
                        <li>temporarily enable/disable checking in</li>
                        <li>enable/disable getting notifications of your check-ins</li>
                        <li>enable/disable being reminded to check in, instead of automatically checking in</li>
                    </ul>

                    Your Foursquare data is encrypted when stored on device and is not being shared with any other services than Foursquare.
                </p>
                <div>
                    <a href="<%= item[:app_store_url] %>">
                        <img height="40" src="/images/app_store_download_button.svg" />
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-sm-6">
                <img class="img-responsive" src="<%= item[:screenshot_source] %>" alt="">
            </div>
        </div>
    </div>
</div>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <h2 class="section-heading">Privacy policy</h2>
                <p>
                    Your data is encrypted when stored on device and will not be sent to services
                    other than Foursquare. The data stored on your device is used to be able to
                    check-in automatically and to improve the check-in algorithms in the future.
                    To improve the functions of this app, crashes and analytics of this apps usage
                    are anonymously sent to Crashlytics and Answers.
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <h2 class="section-heading">Open source</h2>
                <p>
                    <ul>
                        <li><a href="https://github.com/PureLayout/PureLayout">PureLayout</a></li>
                        <li><a href="https://github.com/Hearst-DD/ObjectMapper">ObjectMapper</a></li>
                        <li><a href="https://github.com/nicklockwood/FXBlurView">FXBlurView</a></li>
                        <li><a href="https://github.com/realm/realm-cocoa">RealmSwift</a></li>
                        <li><a href="https://github.com/SVProgressHUD/SVProgressHUD">SVProgressHUD</a></li>
                        <li>Fabric</li>
                        <li>Crashlytics</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
